# ===============================
# Ignorar archivos generados por Maven/Gradle
# ===============================
/target/
/build/
*.log

# Wrapper de Maven (sí necesario para compilar)
!.mvn/wrapper/maven-wrapper.jar

# Ignorar propiedades sensibles
/src/main/resources/application.properties

# ===============================
# IDEs y editores
# ===============================
# IntelliJ IDEA
/.idea
*.iml
*.iws
*.ipr

# Eclipse / STS
.classpath
.project
.settings/
.springBeans/
.apt_generated/
.factorypath
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# ===============================
# Otros
# ===============================
*.class
.DS_Store
